.NKTemplate_src {
    display: none;
}

.NKHidden {
    display: none;
}
.NKLink {
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
}

.NKUrl {
    color: #0000EE;
    cursor: pointer;
}

.NKUnlink {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.NKUnselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
    cursor: default;
}

.NKBtn {
    cursor: pointer;
}

.NKWFSize {
    width: 100%;
}
.NKPopup_dst {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    padding: 3px 5px 5px 5px;
    border-radius: 2px;
    max-width: 500px;
}

.NKPopup_src {
    cursor: pointer;
}

.NKPopup_arrow_fill {
    position: absolute;
    left: 50%;
    border: 0px solid transparent;
    border-width: 20px 10px 0px 10px; /* Height Width/2 0 Width/2*/

}

.NKPopup_arrow_stroke {
    position: absolute;
    left: 50%;
    border: 0px solid transparent;
    border-width: 20px 10px 0px 10px; /* Height Width/2 0 Width/2*/

}
.NKStickBO {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.NKStickTO {
    position: fixed;
    top: 0px;
    width: 100%;
}
